:root {
    --background: rgb(37, 85, 38);
    --text: #F5FFA8;
}

* {
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

main h1 {
    color: black;
}

main section {
    display: none;
}

main form {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 110, 110);
    padding: 20px;
    border-radius: 10px;
}

main form input {
    color: black;
}

main form textarea {
    color: black;
}

main form button {
    width: 70px;
    margin-top: 20px;
    background-color: rgb(23, 23, 161);
}

main form button:hover {
    background-color: rgb(15, 15, 102);
}

@media screen and (min-width: 680px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    h1 {
        grid-column: 1/3;
    }

    main section {
        display: flex;
        flex-direction: column;
        background-color: rgb(54, 9, 9);
        padding: 20px;
        border-radius: 10px;
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 1025px) {

    h1 {
        grid-column: 1/4;
    }

    card img {
        width: 80%;
        align-self: center;
    }
}