:root {
    --background: rgb(37, 85, 38);
    --text: #F5FFA8;
}

* {
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

main h2 {
    color: black;
}

main form {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 110, 110);
    padding: 20px;
    border-radius: 10px;
}

main form input {
    color: black;
}

main form textarea {
    color: black;
}

main img.register-img {
    display: none;
}

main form button {
    width: 70px;
    margin-top: 20px;
    background-color: rgb(23, 23, 161);
}

main form button:hover {
    background-color: rgb(15, 15, 102);
    cursor: pointer;
}
button#log-in {
    width: 70px;
    margin-top: 20px;
    background-color: rgb(161, 32, 23);
    border-radius: 10px;
    margin-left: 20px;
}
button#log-in:hover {
   cursor: pointer;
    background-color: rgb(161, 32, 23);
    border-radius: 10px;
    margin-left: 20px;
}
dialog.open{
    display:flex;
    flex-direction: column;
    background-color: rgb(110, 110, 110);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    justify-self: center;
    align-self: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
dialog button#closeModal{
    cursor: pointer;
    background-color: rgb(161, 32, 23);
    align-self: self-end;
}
dialog button#verify {
    width: 60px;
    background-color: rgb(23, 23, 161);
    margin-top: 15px;
    cursor: pointer;
}
@media screen and (min-width: 680px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main form {
        grid-column: 1/2;
    }

    main img.register-img {
        display: block;
        width: 400px;
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
    }

  
}